.customer {
  margin-bottom: 50px;
}
.customer__list {
  display: flex;
}

.customer__item {
  margin-right: 30px;
}
.customer__item:last-child {
  margin-right: 0;
}

.customer__link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--color-border-customers);
  align-items: center;
  justify-content: center;
  display: flex;
  fill: var(--color-border-customers);

  transition: fill 250ms var(--transition-function);
}

.customer__link:hover,
.customer__link:focus {
  border: 1px solid var(--link-color);
  fill: var(--link-color);
}
